    <script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        defaultView: 'basicDay',
        height: 100,
 header : {
    left : 'false',
    center : 'false',
    right : 'false'
}


    })

});
</script>
   <div id='calendar'></div>