 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  
  <h3 class="holder-head"> <%= fa_icon 'child' %> New to Streemfeed?</h3>
  <div class="carousel-inner">


    <div class="item active">
  <%= image_tag("slide1t.png", :class => "img-responsive") %>
      <div class="carousel-caption">
            <h4>Sign up to start earning points</h4>
    <p>Points can be earned in various ways throughout the site</p>
      </div>
    </div>
    <div class="item">
  <%= image_tag("slide2t.png", :class => "img-responsive") %>
      <div class="carousel-caption">
            <h4>Use your points at your favorite clubs </h4>
    <p>Free drinks, front of line passes, and much more!</p>
      </div>
    </div>
        <div class="item">
  <%= image_tag("slide3t.png", :class => "img-responsive") %>
      <div class="carousel-caption">
            <h4>Have fun!</h4>
    <p>You'll be acting like a whore in no time!</p>
      </div>
    </div>

  </div>
</div>