<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        defaultView: 'basicWeek',
        height: 100,
 header : {
    left : 'false',
    center : 'false',
    right : 'false'
}


    })

});
</script>
   <div class="panel panel-default">

  <div class="panel-body p0">


    <div id='calendar'></div>
 
  </div>

</div>
