<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        defaultView: 'month',
     
 header : {
    left : 'false',
    center : 'false',
    right : 'false'
}


    })

});
</script>
   

  <div class="section-body p0 mb10">


    <div id='calendar'></div>
 
  </div>


