// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
    background: none repeat scroll 0 0 #222;
    color: #c4c4c4;
    font: bold 0.85em 'Arial';
    margin-bottom: 2px;
    margin-right: -15px;
    padding: 6px 0 6px 15px;
    width: 100%;
}
.calendar{
	border-radius:3px;
	background:none;
}