// Place all the styles related to the Checkins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkin-modal {
    background: none repeat scroll 0 0 #222;
    border: 2px solid #121212;
    border-radius: 3px;
    padding: 20px;
    position: relative;
}