// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clubaddress{
    margin-top:5px
}

.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td {
    border-bottom-width: 1px;
    border-color: #222;
    color: #c4c4c4;
    font: 1em 'Arial';
}
