                   <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                      <%= fa_icon 'clock-o' %> Current Wait Time
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">No Wait</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">0-5 min</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10-15 min</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">15-20 min</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">25-30 min</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">30+ min</a></li>
                    </ul>
                  </div>